<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="oauth2.login.configuration" type="Oauth2Login.Configuration.OAuthConfigurationSection, Oauth2Login"/>
  </configSections>
   <!--Moving OAuth configuration to separate file that'll stay out of Git repo
  If you've cloned the repo just create Web.Oauth.config file, populate with following and enter your values
  No need to enter anything for proxy unless all your ports are belong to us. If you need, enter proxy in this format:
  proxy="192.168.0.3:12345"-->
  
  <oauth2.login.configuration>
    <web acceptedRedirectUrl="~/AuthExternal/Success" failedRedirectUrl="~/AuthExternal/LoginFail" proxy="" />
    <oauth>
      <add name="Google"
           clientid="YOUR_CLIENT_ID"
           clientsecret="YOUR_CLIENT_SECRET"
           callbackUrl="http://localhost:28950/AuthExternal/Callback/Google"
           scope="https://www.googleapis.com/auth/userinfo.email+https://www.googleapis.com/auth/userinfo.profile" />

      <!--<add name="Facebook"
           clientid="YOUR_CLIENT_ID"
           clientsecret="YOUR_CLIENT_SECRET"
           callbackUrl="http://localhost:28950/AuthExternal/Success/Facebook"
           scope="public_profile,user_friends,email" />

      <add name="WindowsLive"
           clientid="YOUR_CLIENT_ID"
           clientsecret="YOUR_CLIENT_SECRET"
           callbackUrl="http://localhost:28950/AuthExternal/Success/WindowsLive"
           scope="wl.basic,wl.emails" />

      <add name="PayPal"
           clientid="YOUR_CLIENT_ID"
           clientsecret="YOUR_CLIENT_SECRET"
           callbackUrl="http://localhost:28950/AuthExternal/Success/PayPal"
           scope="openid profile email address phone https://uri.paypal.com/services/paypalattributes https://uri.paypal.com/services/expresscheckout"
           endpoint="sandbox" />

      <add name="Twitter"
           clientid="YOUR_CLIENT_ID"
           clientsecret="YOUR_CLIENT_SECRET"
           callbackUrl="http://127.0.0.1:28950/AuthExternal/Success/Twitter" />-->
    </oauth>
  </oauth2.login.configuration>
  
  <!--<oauth2.login.configuration configSource="Web.Oauth.config"/>-->
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>